<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Gestures Assignment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
   <ion-row>
    <ion-col text-center>
     <h1>Enter the right Code</h1>
     <p *ngIf="!onWinning()">Tap twice, press four times</p>
      <p *ngIf="onWinning()">You WON!</p>
    </ion-col>
   </ion-row>
  </ion-grid>
  <hr>
  <ion-list>
   <ion-item>Tapped: {{tapped}}</ion-item>
   <ion-item>Pressed: {{pressed}}</ion-item>
  </ion-list>
  <br>
  <app-reset (didReset)="onDidReset($event)"></app-reset>
  <app-action (actionSelected)="onActionSelected($event)"></app-action>
  <!-- <ion-grid>
   <ion-row>
    <ion-col class="action" (tap)="onTap()">Tap Here</ion-col>
    <ion-col class="action" (press)="onPress()">Press Here</ion-col>
   </ion-row>
  </ion-grid> -->
</ion-content>
